<nav class="content-offset">
  <div class="row">
    <div class="col-md-12">
      {% for i in site.datasets %}
      <a class="letter-link {% unless i.populated %}unpopulated{% endunless %} {% if include.letter.name==i.name %}active{% endif %}" href="{{ site.baseurl }}{{ i.url }}">
        {{ i.name }}
      </a>
      {% endfor %}
    </div>
  </div>
</nav>
<div class="row content-offset">
  <div class="col-md-10">
    {% for post in site.data_elements | sort: "dataset_name" %}
      {% if include.letter.name==post.first_letter or include.letter == None %}
      <div class="row content-offset-30">
        <div class="col-md-12">
          <h3 class="sub-row-title">
            {{ post.dataset_name }} <small>{{ post.source }}</small>
          </h3>
          <p>
            {{ post.content | markdownify }}
          </p>
        </div>
      </div>
      <hr />
      {% endif %}
    {% endfor %}
  </div>
  {% if include.letter %}
    {% unless include.letter.populated %}
      <h1 class="faded text-center">No Datasets start with {{ include.letter.name }}</h1>
    {% endunless %}
  {% endif %}
</div>

