---
dataset_name: "PHE negative test results"
granularity: "Record level"
source: "Public Health England"
purpose_of_the_data: "Understand the total volumes of tests being undertaken"
data_controller: "Public Health England"
dpia_inclusion: "Yes"
data_processor_organisations: "NHS England, Palantir"
collecting_and_sharing_governance: ""
---
Negative test results from PHE SGSS (Second Generation Surveillance System). Anonymised. Contains Pillar 1 tests only