---
dataset_name: "PHE negative test results"
granularity: ""
source: "Public Health England"
purpose_of_the_data: ""
data_controller: ""
dpia_inclusion: ""
data_processor_organisations: ""
collecting_and_sharing_governance: ""
first_letter: P
new: 
---
Anonymised negative test results from PHE SGSS (Second Generation Surveillance System). Contains Pillar 1 tests only (swab testing in PHE labs and NHS hospitals for those with a medical need and the most critical workers and their families).