---
dataset_name: "PHE negative test results"
source: "Public Health England"
first_letter: P
---
Anonymised negative test results from PHE SGSS (Second Generation Surveillance System). Contains Pillar 1 tests only (swab testing in PHE labs and NHS hospitals for those with a medical need and the most critical workers and their families).