---
dataset_name: "PHE negative test results"
granularity: ""
source: "Public Health England"
purpose_of_the_data: ""
data_controller: ""
dpia_inclusion: ""
data_processor_organisations: ""
collecting_and_sharing_governance: ""
first_letter: P
---
Negative test results from PHE SGSS (Second Generation Surveillance System). Anonymised. Contains Pillar 1 tests only