---
dataset_name: "Pre-deduplicated Second Generation Surveillance System (SGSS) Test Results"
source: "Public Health England"
first_letter: P
---
Full feed of COVID-19 tests reported into Second Generation Surveillance System (SGSS), prior to deduplication logic being applied by PHE containing all unique tests.