---
---

$primary-colour: #005eb8;
$primary-colour-light: #0072ce;
$secondary-colour: #003893;

$danger-color: darken(#da291c, 5%);

// the grey used in the side bars
$tertiary-colour: #e8edee;
// the text colour used on that grey
$tertiary-colour-text: #425563;
// the blue text used for sub headers
$subheader-text-colour: #003087;

$true-color: #007f3b;
$false-color: #da291c;

$black: #0b0c0c;
$warm-yellow: #ffb81c;
$yellow: #ffcd60;

$text-colour: #212b32;
$text-colour-on-dark: #FFF;
$footer-height: 350px;
$main-content-margin: 20px;

@font-face{
    font-family:"Frutiger LT W01_45 Ligh1475730";
    src:url("https://www.england.nhs.uk/wp-content/themes/nhsengland/assets/fonts/81e3653a-53bd-49d9-a1f8-f924811b6f02.eot?#iefix");
    src:url("https://www.england.nhs.uk/wp-content/themes/nhsengland/assets/fonts/81e3653a-53bd-49d9-a1f8-f924811b6f02.eot?#iefix") format("eot"),url("https://www.england.nhs.uk/wp-content/themes/nhsengland/assets/fonts/087d8a95-3f25-4bae-a1d1-db9ddffd72f5.woff2") format("woff2"),url("https://www.england.nhs.uk/wp-content/themes/nhsengland/assets/fonts/ab1bcdf7-9570-4cba-a8e3-3e39ddd861db.woff") format("woff"),url("https://www.england.nhs.uk/wp-content/themes/nhsengland/assets/fonts/83c94878-06c8-442c-a7df-d520b0ced00b.ttf") format("truetype"),url("https://www.england.nhs.uk/wp-content/themes/nhsengland/assets/fonts/29f3ff8a-1719-4e25-a757-53ee1a1114a5.svg#29f3ff8a-1719-4e25-a757-53ee1a1114a5") format("svg");
  }
  @font-face{
    font-family:"Frutiger LT W01_55 Roma1475738";
    src:url("https://www.england.nhs.uk/wp-content/themes/nhsengland/assets/fonts/fe232554-5489-4874-bb45-bd966c8c5932.eot?#iefix");
    src:url("https://www.england.nhs.uk/wp-content/themes/nhsengland/assets/fonts/fe232554-5489-4874-bb45-bd966c8c5932.eot?#iefix") format("eot"),url("https://www.england.nhs.uk/wp-content/themes/nhsengland/assets/fonts/0811514e-6660-4043-92c1-23d0b8caaa2f.woff2") format("woff2"),url("https://www.england.nhs.uk/wp-content/themes/nhsengland/assets/fonts/aeae8cac-ba4d-40d2-bbcf-936f2c7dcfe6.woff") format("woff"),url("https://www.england.nhs.uk/wp-content/themes/nhsengland/assets/fonts/caedf2e6-fbef-4928-b08e-1f975981ae8d.ttf") format("truetype"),url("https://www.england.nhs.uk/wp-content/themes/nhsengland/assets/fonts/7def0e34-f28d-434f-b2ec-472bde847115.svg#7def0e34-f28d-434f-b2ec-472bde847115") format("svg");
  }
  @font-face{
    font-family:"Frutiger LT W01_65 Bold1475746";
    src:url("https://www.england.nhs.uk/wp-content/themes/nhsengland/assets/fonts/eb06b4c3-c0fd-4cd0-a9d9-a2954f6839a7.eot?#iefix");
    src:url("https://www.england.nhs.uk/wp-content/themes/nhsengland/assets/fonts/eb06b4c3-c0fd-4cd0-a9d9-a2954f6839a7.eot?#iefix") format("eot"),url("https://www.england.nhs.uk/wp-content/themes/nhsengland/assets/fonts/9bdfdcac-bbd4-46a9-9280-056c9a4438a2.woff") format("woff"),url("https://www.england.nhs.uk/wp-content/themes/nhsengland/assets/fonts/5dae3a6e-9b07-4c2f-aed2-1f5b8951261b.ttf") format("truetype"),url("https://www.england.nhs.uk/wp-content/themes/nhsengland/assets/fonts/eae74276-dd78-47e4-9b27-dac81c3411ca.svg#eae74276-dd78-47e4-9b27-dac81c3411ca") format("svg");
  }
  

h1, h2, h3, h4, h5, h6 {
    font-family: "Frutiger LT W01_65 Bold1475746", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
}


html, body{
  min-height: 100%;
  height: 100%;
}

body {
  margin-top: 0;
  box-sizing: border-box;
  color: $text-colour;
  font-family: "Frutiger W01", 'Hind', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 19px;
  line-height: 28px;
  overflow-x: hidden;
}

.header-img{
  max-width: 100%;
  border: 5px solid #e8edee;
}

.text-danger{
  color: $danger-color;
}

.breadcrumbs {
  font-size: 16px;

  ul {
    padding: 0;
  }

  li {
    display: inline-block;
    padding-right: 16px;
    margin-right: 8px;
    margin-top: 0;
    background: url("../img/icons/chevron.svg") no-repeat 100% 50%;
    background-size: 9px 12px;
  }

  .lt-ie9 & {
    &:before {
      background-image: url("../img/icons/chevron.png");
    }
  }


  li:last-child {
    background: none;
  }
}

.content-offset{
  margin-top: 50px;
}


.content-offset-below{
  margin-bottom: 50px;
}

.content-offset-24{
  margin-top: 24px;
}

.content-offset-below-24{
  margin-bottom: 24px;
}

.content-offset-40{
  margin-top: 40px;
}

.content-offset-below-40{
  margin-bottom: 40px;
}

.content-offset-80{
  margin-top: 80px;
}

.content-offset-90{
  margin-top: 90px;
}

.content-offset-below-90{
  margin-bottom: 90px;
}

.content-offset-below-80{
  margin-bottom: 80px;
}

.content-offset-below-10{
  margin-bottom: 10px;
}

.content-offset-below-20{
  margin-bottom: 20px;
}

.relative{
  position: relative;
}

.align-middle{
  display: inline-block;
  vertical-align: middle;
}

h3.subheader{
  margin-top: 5px;
  margin-bottom: 20px;
}

h4.subheader{
  margin-top: 20px;
  margin-bottom: 10px;
}

.nhs-england-well{
  padding: 60px;
  background-color: $tertiary-colour;
  margin: 0 0 30px;
}

.coloured-stripe{
  background-color: $tertiary-colour;
  padding-top: 50px;
  padding-bottom: 50px;

  hr{
    border-top: 1px solid #adbcc7;
  }
}

header.masthead{
  background-color: $primary-colour;
  // height: 223px;
  padding: 47px 0 0 0;

  .container, .container-fluid{
    overflow-y: hidden;
  }

  .logo{
    &:hover, &:active, &:focus{
      background-color: transparent;
      box-shadow: 0 0 0 4px transparent;
    }

    & img{
      display: inline-block;
      height: 90px;
      width: auto;
    }
  }

  .subtitle{
    display: inline-block;
    padding-left: 30px;
    color: $text-colour-on-dark;
    @media print {
      padding: 0;
      float: right;
      font-size: 20px;
    }
  }

  .banner{
    height: 120px;

    @media print {
      height: 40px;
    }

    @media screen and (max-width: 768px){
      height: 200px;
    }
  }

  .header-nav{
    height: 63px;
  }
  ul{
    padding-left: 0;
  }

  li{
    display: inline-block;
    a{
      padding: 15px 30px;
      color: white;
      box-shadow: inset 0 0 0 4px transparent;

      &:hover, &.active{
        background-color: #0072ce;
        text-decoration: none;
      }
    }
  }

}

.xs-scrollable{
  @media screen and (max-width: 480px){
    display: block;
    overflow-x: scroll;
  }
}

footer{
  &.site-footer{
    background-color: #e8edee;
    background-image: none;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    z-index: 600;
    bottom: 0;
    position: absolute;
  }



  .footer-logo {
      height: 70px;
      width: auto;
  }

  .nav{
    float: left;

    a{
      color: #425563;
      padding: 1px 0;
    }

    & > li{
      position: relative;
      display: block;
    }
  }
  color: #425563;
  padding: 1px 0;

  .social-networks a {
      padding-top: 30px;
      padding-bottom: 30px;
      &:hover{
        text-decoration: none;
      }

      &:hover{
        background: inherit;
        box-shadow: 0 0 0 4px transparent;
        color: #212b32;
        text-decoration: none;
      }

      &:focus{
        background:inherit;
        box-shadow: 0 0 0 4px transparent;
        color: #212b32;
        text-decoration: none;
        outline: 0;
      }
  }

  .social-networks a{
    &:before {
      content: '';
      width: 38px;
      height: 38px;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: 24px 24px;
      background-position: center center;
      z-index: 1000;
      padding: 5px;
      border: 2px solid #adbcc7;
    }

    &:hover:before{
      background-color: $yellow;
      border-color: $yellow;
    }

  }

  .social-networks a[href^="http://feeds.feedburner.com/"]:before {
      background-image: url(../img/icons/rss.svg);
  }

  .social-networks a[href^="http://flickr.com/"]:before, .social-networks a[href^="http://www.flickr.com/"]:before, .social-networks a[href^="https://flickr.com/"]:before, .social-networks a[href^="https://www.flickr.com/"]:before {
      background-image: url(../img/icons/flickr.svg);
  }

  .social-networks a[href^="http://youtube.com/"]:before, .social-networks a[href^="http://www.youtube.com/"]:before, .social-networks a[href^="https://youtube.com/"]:before, .social-networks a[href^="https://www.youtube.com/"]:before {
      background-image: url(../img/icons/youtube.svg);
  }

  .social-networks a[href^="http://linkedin.com/"]:before, .social-networks a[href^="http://www.linkedin.com/"]:before, .social-networks a[href^="https://linkedin.com/"]:before, .social-networks a[href^="https://www.linkedin.com/"]:before {
      background-image: url(../img/icons/linkedin.svg);
  }

  .social-networks a[href^="http://twitter.com/"]:before, .social-networks a[href^="http://www.twitter.com/"]:before, .social-networks a[href^="https://twitter.com/"]:before, .social-networks a[href^="https://www.twitter.com/"]:before {
      background-image: url(../img/icons/twitter.svg);
  }
}

.footer-cover{
  margin-top: $footer-height;
  width: 100%;
  position: relative
}

.pagination a:hover{
  text-decoration: none;
}

.pagination{
  margin-bottom: 0;
}

.large{
  font-size: 22.5px;
}

.coloured-header{
  color: $subheader-text-colour;
}

h1{
  margin-top: 30px;
  margin-bottom: 20px;
}

.avoid-page-break{
  break-inside: avoid;
}

.body-content{
    min-height: calc(100vh - #{$footer-height + 232px});
}

.card-list{
  .title{
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 36px;
    color: $text-colour;
    font-weight: 600;
  }


  .card{
    padding-left: 10px;
    padding-right: 10px;

    h3{
      margin-bottom: 15px;

      .sub{
        font-size: 20px;
      }
    }

    a{
      transition: background-color 0.2s ease-in-out;
      background: $primary-colour;
      color: $text-colour-on-dark;
      height: 137px;
      font-size: 22.5px;
      cursor: pointer;
      display: block;
      position: relative;
      padding: 10px;
      text-decoration: none;

      &:hover{
        background: $primary-colour-light;
        text-decoration: none;
      }
    }
  }

  .arrow{
      height: 32px;
      width: 32px;
      position: absolute;
      bottom: 10px;
      right: 10px;
  }
}

hr {
    border-top: 1px solid $tertiary-colour;
    margin-top: 5px;
    margin-bottom: 5px;
}

.table-detail{
  &.main-content{
    margin-top: $main-content-margin;
  }


  .title{
    font-size: 32px;
    line-height: 36px;
    color: $text-colour;
  }

  .column-title{
      color: $primary-colour;
      font-size: 22px;
      font-weight: 600;
  }

  .sub-column-title{
    line-height: 1.25;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
    color: lighten($tertiary-colour-text, 10%);
  }


  .dictionary-references{
      font-size: 80%;

      a{
        color: $primary-colour;
      }
  }
}

.side-nav{
  padding-right: 60px;
  padding: 0;
  ul{
    padding: 0;
    margin-right: 50px;
  }

  li{
    margin-top: 5px;
    list-style: none;
  }

  .table-link{
    display: block;
    background-color: $tertiary-colour;
    color: $tertiary-colour-text;
    padding: 5px 10px;
    word-wrap: break-word;
    font-size: 16px;
  }

  a.internal-link{
    padding-left: 20px;
  }

  .list-title{
    margin-top: 5px;

    a{
      color: $text-colour-on-dark;
      background-color: $secondary-colour;
      display: block;
      padding: 5px 10px;
      word-wrap: break-word;
    }
  }

  a.active{
    background-color: $primary-colour;
    color: $text-colour-on-dark;
    font-weight: 600;
  }

  a:hover{
    background-color: $primary-colour-light;
    color: $text-colour-on-dark;
  }
}

.link:hover{
  fill: $primary-colour;
}

.letter-link{
  width: 8.3333333333%;
  font-size: 27px;
  float: left;
  padding: 10px 0;
  background-color: $primary-colour;
  box-shadow: none;
  color: $text-colour-on-dark;
  display: block;
  border: 1px solid $text-colour-on-dark;
  text-align: center;
  text-decoration: none;

  &.unpopulated, &.unpopulated:visited{
    background-color: lighten(desaturate($primary-colour, 50%), 15%);
  }
  &.active{
    &:hover, &:active, &:visited, &:focus{
        background-color: $tertiary-colour;
        color: $text-colour;
      }
  }

  &:hover, &:active, &:visited, &:focus{
    color: $text-colour-on-dark;
    box-shadow: none;
    background-color: $primary-colour;
    text-decoration: underline;
  }
}
.faded{
  color: $tertiary-colour-text;
}
.normal-text{
  font-weight: 400;
}


.btn {
  background-image: none;
  border: none;
  border-radius: 0;
  font-size: 18px;
  padding: 10px 20px;
  color: #FFF;

  &:focus, &:hover, &:visited{
    color: #FFF;
  }
}

.btn.btn-sm{
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.5;
}

.btn-success {
  background-color: #007f3b;
  border-color: #007f3b;
  box-shadow: none;
  color: white;

  &:hover {
    background-color: #005326;
    box-shadow: 0 0 0 6px $yellow;
  }
}

form {

  hr {
    border-color: #212b32;
    border-style: solid none;
    margin: 10px 0 25px;
  }

  .form-group {
    width: 100%;
  }

  .form-control {
    border: 2px solid $black;
    border-radius: 0;
    font-size: 18px;
    height: 42px;
    line-height: 38px;
    -webkit-appearance: none;

    &:focus {
      border-color: $black;
      outline: 3px solid $warm-yellow;
      outline-offset: 0;
    }
  }

  select.form-control {
    line-height: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
  }

}


.home-descriptor{
   margin-top: 70px;
}

.home-lead{
   font-size: 1.2em;
   line-height: 1.6em;
}

.alpha-label{
  font-weight: 800
}

.list-unstyled{
  margin: 0;
}

label {
  margin-right: 10px;
}

  // List filter
#org_list {
  .search-icon{
    color: #555;
    position: absolute;
    right: 12px;
    top: 6px;
    font-size: 22px;
    // position: absolute;
    // right: 10px;
    // top: 4px;
  }

  .search {
    border: 2px solid $black;
    color: #555;
    display: block;
    font-size: 18px;
    line-height: 38px;
    padding-left: 12px;
    width: 100%;
    padding-right: 24px;

    &:focus {
      outline: 0;
    }

    &::-ms-clear {
      display: none;
    }
  }

  ul {
    border: 1px solid #d8dde0;
    border-top: 0;
    height: 400px;
    overflow: scroll;

    li {
      border-bottom: 1px solid #d8dde0;
      padding: 6px 12px;
    }
  }
}

.org{
  cursor: pointer;
}

.table {
  border: 1px solid #d8dde0;

  .thead{
    padding-left: 15px;
    padding-right: 15px;
  }

  .th {
    background-color: #d8dde0;
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    line-height: 1.42857143;
    padding: 8px 15px;
  }

  .tbody{
    padding-left: 15px;
    padding-right: 15px;
    display: block;

  }
  .td{
    padding: 8px 15px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
  }
}

#no-items{
  display: none;
}

// an unordered list from nhs.uk/conditions
.nhsuk-c-page-contents__list{
  list-style: none;
  padding: 0;
  margin: 24px 0 0;

  li:first-child{
    margin-top: 0;
  }

  .nhsuk-c-page-contents__item{
    padding: 0 0 0 32px;
    position: relative;
    margin: 8px 0 0;
  }

  .nhsuk-c-page-contents__item:before {
    color: #AEB7BD;
    content: '\2014';
    position: absolute;
    top: 0;
    left: 0;
  }
}

.nhs_markdown_ul{
  ol, ul{
    list-style: none;
    padding: 0;
    margin: 24px 0 24px 0;

    li:first-child{
      margin-top: 0;
    }

    li{
      padding: 0 0 0 32px;
      position: relative;
      margin: 8px 0 0;
    }

    li:before {
      color: #AEB7BD;
      content: '\2014';
      position: absolute;
      top: 0;
      left: 0;
    }
  }

}


hr.nhs_thick{
  border-top: 4px solid #005eb8;
}



// NHS England typography classes
.nhsuk-heading-xl{
  font-size: 2em;
  line-height: 36px;
  margin: 56px 0 0;
}

.nhsuk-heading-l{
  font-size: 1.5em;
  line-height: 32px;
  margin: 40px 0 0;
  font-weight: 600;
}


.nhsuk-heading-m{
  font-size: 1.25em;
  line-height: 28px;
  margin: 32px 0 0;
}

.nhsuk-heading-s{
  font-size: 1.125em;
  line-height: 28px;
  margin: 24px 0 0;
}

.nhsuk-heading-xs, h5 {
  font-size: 1em;
  line-height: 24px;
  margin: 16px 0 0;
}

p{
  margin-top: 24px;
}

.no-top-margin{
  margin-top: 0;
}

a{
  color: $primary-colour;
  cursor: pointer;
  text-decoration: none;

  &:visited{
    color: $primary-colour;
  }

  &:hover{
    background: $yellow;
    box-shadow: 0 0 0 4px $yellow;
    color: #212b32;
    text-decoration: none;
  }

  &:focus{
    background: $warm-yellow;
    box-shadow: 0 0 0 4px $warm-yellow;
    color: #212b32;
    text-decoration: none;
    outline: 0;
  }
}

a.nhs-footer-icon:hover{
  background-color: transparent;
  box-shadow: none;
}

ol li, ul li {
  margin: 8px 0 0;
}

ol, ul {
  font-weight: 400;
  margin: 16px 0 0;
  padding-left: 20px;
}

.nhsuk-icon__tick {
  fill: none;
  stroke: #007f3b;
}

.nhsuk-icon {
  display: inline-block;
  height: 30px;
  width: 30px;

}

.nhsuk-icon-container{
  display: block;
  height: 30px;
  width: 30px;
  margin-top: -2px;
  margin-left: -10px;
}

svg:not(:root), symbol, image, marker, pattern, foreignObject {
  overflow: hidden;
}

.nhsuk-icon__cross {
  fill: #da291c;
}

table thead{
  background-color: #d8dde0;
}


// Gov UK style checkboxes
.multiple-choice {
  display: block;
  float: none;
  clear: left;
  position: relative;
  padding: 0 0 0 38px;
  margin-bottom: 10px;
}
@media (min-width: 641px) {
  .multiple-choice {
    float: left;
  }
}
.multiple-choice input {
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  width: 38px;
  height: 38px;
  z-index: 1;
  margin: 0;
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}
.multiple-choice label {
  cursor: pointer;
  font-weight: normal;
  padding: 8px 10px 9px 12px;
  display: block;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
@media (min-width: 641px) {
  .multiple-choice label {
    float: left;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
.multiple-choice [type=checkbox] + label::before {
  content: "";
  border: 2px solid;
  background: transparent;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: content-box;
}
.multiple-choice [type=checkbox] + label::after {
  content: "";
  border: solid;
  border-width: 0 0 5px 5px;
  background: transparent;
  border-top-color: transparent;
  width: 17px;
  height: 7px;
  position: absolute;
  top: 10px;
  left: 8px;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
  box-sizing: content-box;
}
.multiple-choice [type=checkbox]:focus + label::before {
  -webkit-box-shadow: 0 0 0 3px #ffbf47;
  -moz-box-shadow: 0 0 0 3px #ffbf47;
  box-shadow: 0 0 0 3px #ffbf47;
}
.multiple-choice input:checked + label::after {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}
.multiple-choice input:disabled {
  cursor: default;
}
.multiple-choice input:disabled + label {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
}
.multiple-choice:last-child, .multiple-choice:last-of-type {
  margin-bottom: 0;
}

.tick-icon{
  font-size: 25px;
  color: $true-color;
  display: inline-block;
  top: 6px;
}

.cross-icon{
  display: inline-block;
  font-size: 28px;
  color: $false-color;
  top: 6px;
}

@media print {
  a[href]:after {
     display: none;
     visibility: hidden;
  }
}