---
layout: base
---
<h1>{{ page.title }} <small>{{ page.source }}</small></h1>
<p>
  {{ page.content | markdownify }}
</p>
<div class="row">
  <div class="col-md-6">
    <p>
      <strong>
        Granularity
      </strong>
      {{ page.granularity}}
    </p>
    <p>
      <strong>
        Purpose of the data
      </strong>
      <br>
      {{ page.purpose_of_the_data}}
    </p>
  </div>
  <div class="col-md-6">
    <p><strong>Data controller</strong>{{ page.data_controller }}</p>
    <p><strong>Dpia inclusion</strong>{{ page.data_processor_organisations }}</p>
    <p><strong>Data processor organisations</strong>{{ page.collecting_and_sharing_governance }}</p>
    <p><strong>Collecting and sharing governance</strong>{{ page.dpia_inclusion }}</p>
  </div>
</div>
