---
layout: base
---
<h1>{{ page.dataset_name }} <small>{{ page.source }}</small></h1>
<p>
  {{ page.content | markdownify }}
</p>
<div class="row">
  <div class="col-md-12">
    <p>
      <strong>
        Granularity
      </strong><br>
      {{ page.granularity}}
    </p>
    <p>
      <strong>
        Purpose of the data
      </strong><br>
      {{ page.purpose_of_the_data}}
    </p>
    <p><strong>Data controller</strong><br> {{ page.data_controller }}</p>
    <p><strong>Data processor organisations</strong><br> {{ page.data_processor_organisations }}</p>
    <p><strong>Collecting and sharing governance</strong><br> {{ page.collecting_and_sharing_governance }}</p>
    <p><strong>DPIA inclusion</strong><br> {{ page.dpia_inclusion }}</p>
  </div>
</div>
